@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    scroll-behavior:smooth;
}

.nav{
    height: 15vh;
    width: 100%;
    background: white;
    position: fixed;
}

.home{
    height:100vh;
    width: 100%;
    background: #ffffff;
}

.outer-container-service{
    height:100vh;
    width: 100%;
}

.testimonials{
    height:90vh;
    width: 100%;
}

.gallery{
    min-height:90vh;
    width: 100%;
}

.contacts{
    height: 90vh;
    width: 100%;
}

link{
    text-decoration: none;
}

.testimony{
    background: #4472C4;
    height: 60vh;
}

.about{
    color: #4472C4;
}

.design{
    color: #843C0C;
}
.title{
    color:#4472C4;
}

.hire-button{
    text-decoration: none;
}

input{
    background: #e2dddd;
}